*._*
.DS_Store
*.dtbo
/distfiles
/dtb/linux-*
/dtb/*.dt?
/dtb/*.dtsi
/kernel/kernel-*
/kernel/linux-*
/uboot/opensbi
/uboot/u-boot
/uboot/u-boot-spl.bin.normal.out
/uboot/u-boot*.itb
cache*
rootfs
*.img
*.img.xz
